@model StudentManagementSystem.Models.Student

@{
    ViewData["Title"] = "Edit";
}

<h1 style="color: black;">Update Student</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" style="background-color: white; padding: 20px; border-radius: 5px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label" style="color: black;">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label" style="color: black;">Student ID</label>
                <input asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class" class="control-label" style="color: black;">Class</label>
                <select asp-for="Class" class="form-control">
                    <option value="Class A">Class A</option>
                    <option value="Class B">Class B</option>
                    <option value="Class C">Class C</option>
                </select>
                <div class="row p-3">
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger float-end">Update Students</button>
                        <a class="btn btn-warning float-start" asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

