@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-weight: 600; color: black;">Student Management System</h1>
    <div>
        <partial name="_LoginPartial" />
    </div>
</div>
